<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<header>
			<% include navigation %>
		</header>
		 <h1><% if (typeof username !== 'undefined') { %> 
		 	Welcome <%= username %>
		 <% } %></h1>
	</body>
</html>